[package]
name = "udf-examples"
version = "0.3.3"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
udf = { path = "../udf" }
lipsum = "0.8.2"
uuid = { version = "1.1.2", features = ["v1", "v3", "v4", "v5", "fast-rng"] }
